<ion-header>
  <ion-navbar>
    <ion-title>
      Events
    </ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="refresh()">
          <ion-icon name="addEvent" md="md-refresh"></ion-icon>
        </button>
      <button ion-button clear icon-only (click)="joinEvent()">
        <ion-icon name="addEvent" md="md-add"></ion-icon> Join
      </button>
      <button ion-button clear icon-only (click)="addEvent()">
        <ion-icon name="addEvent" md="md-add-circle"></ion-icon> Create
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="card-background-page" padding>

  <div *ngFor="let event_obj of result" style="width:100%">
  <ion-card  >
      <ion-item>
        <ion-avatar item-start>
          <img src="https://www.aegon.co.uk/content/dam/ukpaw/advisers-login.svg">
        </ion-avatar>
        <h2>{{event_obj.eventName}}</h2>
        <p>{{event_obj.eventStartDate | date:'short'}}</p>
        <button *ngIf="created_by == event_obj.created_by" ion-button clear icon-only (click)="deleteEvent(event_obj.eventName)" item-end>
          <ion-icon name="trash" md="md-trash"></ion-icon>
        </button>
      </ion-item>
      <img (click)="event(event_obj.eventName,event_obj.eventStartDate,event_obj.address_city,event_obj.address_zipcode)" src="https://images.pexels.com/photos/415825/pexels-photo-415825.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350">
      <ion-card-content>
        <p>
        </p>
      </ion-card-content>
      <ion-row>
        <ion-col >
          <ion-item>
            <button ion-button icon-start clear small >
              <ion-icon name="chatbubbles"></ion-icon>
              <div>chat</div>
            </button>
          </ion-item>
        </ion-col>
        <ion-col  >
            <ion-item style="width:100%; float: right">
              <button  ion-button icon-start clear small end (click)="details(event_obj.eventName)">
                <ion-icon name="more" ></ion-icon>
                <div>details </div>
              </button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>
    </div>
</ion-content>
